.pageCover {
    /* display: none; */
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popUp {
    background-color: whitesmoke;
    width: 45rem;
    height: 15rem;
    margin: 13% auto;
    border-radius: 12px;
    max-width: 95%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 25%;
    background-color: rgb(54, 0, 54);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5rem;
}
.text {
    width: 100%;
    height: 45%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.button {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
.button button {
    padding: 7px 15px 7px 15px;
    border: none;
    background-color: rgb(54, 0, 54);
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.hide {
    display: none;
}